@model DatLichKham.Models.LichKham

@{
    ViewBag.Title = "Đặt Lịch Khám";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Appointment</p>
                    <h1 class="mb-4">Make An Appointment To Visit Our Doctor</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Call Us Now</p>
                            <h5 class="mb-0">+012 345 6789</h5>
                        </div>
                    </div>
                    <div class="bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Mail Us Now</p>
                            <h5 class="mb-0">info@example.com</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Your Mobile" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select border-0" style="height: 55px;">
                                        <option selected="">Choose Doctor</option>
                                        <option value="1">Doctor 1</option>
                                        <option value="2">Doctor 2</option>
                                        <option value="3">Doctor 3</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text" name="NgayKham" class="form-control border-0 datetimepicker-input" placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text" name="time" class="form-control border-0 datetimepicker-input" placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" rows="5" placeholder="Describe your problem"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light rounded h-100 d-flex align-items-center p-5">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row g-3">
                <h4>LichKham</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="display:none;">
                    @Html.LabelFor(model => model.LichKham_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LichKham_ID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LichKham_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    @Html.LabelFor(model => model.BenhNhan_Name, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.BenhNhan_Name, new { htmlAttributes = new { @class = "form-control border-0" } })
                    @Html.ValidationMessageFor(model => model.BenhNhan_Name, "", new { @class = "text-danger" })

                </div>

                <div class="col-12 col-sm-6">
                    @Html.LabelFor(model => model.BenhNhan_Email, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.BenhNhan_Email, new { htmlAttributes = new { @class = "form-control border-0" } })
                    @Html.ValidationMessageFor(model => model.BenhNhan_Email, "", new { @class = "text-danger" })

                </div>

                <div class="col-12 col-sm-6">
                    @Html.LabelFor(model => model.BacSi_ID, "BacSi_ID", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.DropDownList("BacSi_ID", null, htmlAttributes: new { @class = "form-control border-0" })
                    @Html.ValidationMessageFor(model => model.BacSi_ID, "", new { @class = "text-danger" })

                </div>

                <div class="col-12 col-sm-6">
                    @Html.LabelFor(model => model.PhongKham_ID, "PhongKham_ID", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.DropDownList("PhongKham_ID", null, htmlAttributes: new { @class = "form-control border-0" })
                    @Html.ValidationMessageFor(model => model.PhongKham_ID, "", new { @class = "text-danger" })

                </div>

                <div class="col-12 col-sm-6">
                    @Html.LabelFor(model => model.NgayKham, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="date" id="date" data-target-input="nearest">
                        @Html.EditorFor(model => model.NgayKham, new { htmlAttributes = new { @class = "form-control border-0 datetimepicker-input" } })
                    </div>


                </div>
                <div class="col-12 col-sm-6">
                        <div class="date" id="date" data-target-input="nearest">
                            <input type="text" value="@Model.NgayKham" class="form-control border-0 datetimepicker-input" placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                        </div>
                    </div>

                <div class="col-12 col-sm-6">
                        @Html.LabelFor(model => model.ThoiGianKham, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.ThoiGianKham, new { htmlAttributes = new { @class = "form-control border-0" } })
                        @Html.ValidationMessageFor(model => model.ThoiGianKham, "", new { @class = "text-danger" })

                    </div>

                <div class="col-12 col-sm-6">
                        <div class="time" id="time" data-target-input="nearest">
                            <input type="text" value="@Model.ThoiGianKham" class="form-control border-0 datetimepicker-input" placeholder="Choose Date" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                        </div>
                    </div>

                <div class="form-group" style="display:none;">
                    @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.TrangThai)
                            @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Appointment Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Appointment</p>
                    <h1 class="mb-4">Make An Appointment To Visit Our Doctor</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Call Us Now</p>
                            <h5 class="mb-0">+012 345 6789</h5>
                        </div>
                    </div>
                    <div class="bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Mail Us Now</p>
                            <h5 class="mb-0">info@example.com</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                        <form>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    @Html.EditorFor(model => model.BenhNhan_Name, new { htmlAttributes = new { @class = "form-control border-0", style = "height: 55px;", placeholder = "Họ và tên" } })
                                    @Html.ValidationMessageFor(model => model.BenhNhan_Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-12 col-sm-6">
                                    @Html.EditorFor(model => model.BenhNhan_Email, new { htmlAttributes = new { @class = "form-control border-0", style = "height: 55px;", placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.BenhNhan_Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-select border-0" style="height: 55px;">

                                        <div class="col-auto">
                                            @Html.DropDownList("BacSi_ID", null, htmlAttributes: new { @class = "form-control border-0", style = "background-color: white;" })
                                            @Html.ValidationMessageFor(model => model.BacSi_ID, "", new { @class = "text-danger " })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-select border-0" style="height: 55px;">

                                        <div class="col-12">
                                            @Html.DropDownList("PhongKham_ID", null, htmlAttributes: new { @class = "form-control border-0", style = "background-color: white;" })
                                            @Html.ValidationMessageFor(model => model.PhongKham_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-12 col-sm-6">
                <div class="date" id="date" data-target-input="nearest">
                    <input type="text"
                           class="form-control border-0 datetimepicker-input"
                           placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                </div>


                @Html.LabelFor(model => model.NgayKham, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayKham, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayKham, "", new { @class = "text-danger" })
                </div>
            </div>*@
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text" autocomplete="off" name="date" class="form-control border-0 datetimepicker-input" id="datepicker" placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>


                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text" autocomplete="off" name="time" class="form-control border-0 datetimepicker-input" id="timepicker" placeholder="Choose Time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>


                                @*<div class="col-12">
                <textarea class="form-control border-0" rows="5" placeholder="Describe your problem"></textarea>
            </div>*@

                                <div class="form-group" style="display:none">
                                    @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.TrangThai)
                                            @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
                                </div>

                                <!--<div class="col-12">
            <div class="btn btn-primary w-100 py-3">
                <input type="submit" value="Create" class="btn btn-default" />-->
                                @*<button class="btn btn-primary w-100 py-3" type="submit">Đặt lịch</button>*@
                                <!--</div>
        </div>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datepicker').change(function () {
            var selectedDate = $(this).val();
            $('#NgayKham').val(selectedDate);
        });
        $('#timepicker').change(function () {
            var selectedTime = $(this).val();
            $('#ThoiGianKham').val(selectedTime);
        });
    });


</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

